</body>
<footer>
    <div class="bottom-container">
        <a class="footer-link font-awesome " href="https://www.linkedin.com/in/cagin-yarkin-sari"><i class="fa-brands fa-linkedin"></i></a>
        <a class="footer-link" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a class="footer-link" href="https://jilbao.github.io/">Website</a>
        <p>© 2022 Cagin Yarkin Sari.</p>
      </div>
</footer>
</html>